<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/galeria.css">
    <link rel="stylesheet" href="/css/imprimir.css">
    <link rel="stylesheet" href="/css/donaciones.css">
</head>
<body>

     <!--        header        -->
     <header>

        <nav class="navbar">
            <div class="logo">
                <img src="/img/logo-texto.png" alt="logo">
            </div>
            <ul class="nav-links">
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/profesionales">CONSULTORIO</a></li>
                <li><a href="#" id="mostrarCarta">DONACIONES</a></li>
                <li><a href="#">CONTACTO</a></li>

            </ul>
        </nav>
    </header>

     <!--        BODY          -->
     <div class="overlay" id="overlay">
        <div class="carta-contenedor" id="carta-contenedor">
            <div class="carta" id="carta">
                <img class="logoanl" src="/img/logo-anarl.png" alt="">
                <br>
                <img src="/img/qrprueba.png" alt="">
                <br>
                <button id="imprimirBoton">Imprimir QR</button>
                <div id="imagenParaImprimir" class="hidden">
                    <img src="/img/donaciones.png" alt="">
                </div>
                <hr color="green" style="width: 300px;">
                <p class="texto1">ALIAS: </p>
                <p class="texto2">Tomas.CRACK.ok</p>
                <p class="texto1">CBU: </p>
                <p class="texto2">312731273012974012412904</p>
            </div>
        </div>
</div>




    <div class="gallery">
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 1">
            <div class="image-title">Imagen 1</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 2">
            <div class="image-title">Imagen 2</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 3</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 4</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 5</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 6</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 1">
            <div class="image-title">Imagen 7</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 2">
            <div class="image-title">Imagen 8</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 9</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 10</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 11</div>
        </div>
        <div class="image-container">
            <img src="/img/not-found.png" alt="Imagen 3">
            <div class="image-title">Imagen 12</div>
        </div>

    </div>

    <footer>
        <div class="footer">
            <div class="contenedor">
                <h2>Contacto</h2>
                <p>Llamanos al 33640000</p>
                <p>anarl@gmail.com</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor">
                <h2>Consultorio</h2>
                <p>Turno</p>
                <p>Especialidades</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor ultimo">
                <h2>Redes sociales</h2>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>lorem</p>

            </div>
        </div>
    </footer>
    <script src="/js/donaciones.js"></script>
    <script src="/js/imprimir.js"></script>
</body>
</html>