<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/indexStyle.css">
    
</head>
<body>
    <header>

          <nav class="navbar">
            <div class="logo">
              <img src="/img/logo-anarl.png" alt="logo" >
            </div>
            <ul class="nav-links">
              <li><a href="#">Quienes Somos</a></li>
              <li><a href="#">Consultorio</a></li>
              <li><a href="#">Galería de Imágenes</a></li>
              <li><a href="/donaciones">Donaciones</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>
</header>

<main>
  <div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="">
            <label class="slide-text">Descripción 3</label>
        </div>
        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="">
            <label class="slide-text">Descripción 3</label>
        </div>
        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="">
            <label class="slide-text">Descripción 3</label>
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>
</main>

<footer>
  <div class="footer">
    <div class="contenedor">
      <h3></h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="contenedor">
      <h3></h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="contenedor-ultimo">
      <h3></h3>
    </div>
  </div>
</footer>

    


<script src="script.js"></script>
</body>
</html>