<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nosotros.css">
    <script src="https://kit.fontawesome.com/97aa073c0a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/donaciones.css">
    
    </head>

<body>

    <!-- header -->
    <header>

        <nav class="navbar" style="padding: 20px 110px;">
            <div class="logo">

                <img src="/img/logo-texto.png" alt="logo" >

            </div>
            <ul class="nav-links">
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">CONSULTORIO</a></li>
                <li><a href="#">GALERIA DE IMAGENES</a></li>
                <li><a href="/donaciones">DONACIONES</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <!-- main -->

    <main>
        <section id="banner">

            <div id="texto">
                <p>Asociación </p>
                <p>Antipoliomielítica </p>
                <p>Y De </p>
                <p>Rehabilitación del Lisiado</p>
            </div>


        </section>

        <section id="textos">
            <div class="izquierda">
                <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">

                    <h2>Nuestra mision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ullam non blanditiis doloribus voluptates quos reprehenderit, voluptatibus quod nemo in deserunt natus accusantium error itaque possimus perspiciatis omnis, totam id?</p>
               
                </div>
                <div></div>
                
                <div data-aos="fade-right" data-aos-offset="300">
                    <h2>Nuestro objetivo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis assumenda itaque, quaerat, laborum enim atque mollitia, error impedit fugit cupiditate natus molestiae. Nostrum, laboriosam quia modi consequatur iste consectetur dolorem.</p>
                </div>
                <div></div>
            </div>
           
            <div class="derecha">
                <div></div>
                <div data-aos="fade-left" data-aos-offset="300">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident. Ut quos ab, amet ducimus nulla expedita quas doloribus placeat unde, aut corporis aliquid esse, nemo dolore cum. Quasi, excepturi!</p>
                </div>
                <div></div>
                <div data-aos="fade-left" data-aos-offset="300">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita assumenda nihil aliquam et distinctio dolorum dicta quisquam ducimus obcaecati vero quasi autem similique, deserunt hic aliquid. Repudiandae expedita alias odit!</p>
                </div>
            </div>


        </section>




    </main>


    <!-- footer -->

    <footer>
        <div class="footer">
            <div class="contenedor">
                <h2>Contacto</h2>
                <p>Llamanos al 33640000</p>
                <p>anarl@gmail.com</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor">
                <h2>Consultorio</h2>
                <p>Turno</p>
                <p>Especialidades</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor ultimo">
                <h2>Redes sociales</h2>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>lorem</p>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

        
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script> 
      <script src="/js/donaciones.js"></script>
</body>

</html>