<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros | Anarl</title>
    <link rel="stylesheet" href="/css/nosotros.css">
    <script src="https://kit.fontawesome.com/97aa073c0a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/donaciones.css">
    <link rel="stylesheet" href="/css/imprimir.css">
    <link rel="icon" href="/img/logo-anarl.png" type="image/x-icon">
    </head>


<body>

    <div class="overlay" id="overlay">
        <div class="carta-contenedor" id="carta-contenedor">
            <div class="carta" id="carta">
                <img class="logoanl" src="/img/logo-anarl.png" alt="">
                <br>
                <img class="qr" src="/img/qrprueba.png" alt="">
                <br>
                <button id="descargar">Descargar PDF</button>
                <center><hr color="green" style="width: 300px;"></center>
                <p class="texto1">ALIAS: </p>
                <p class="texto2">ANARL.ASOCIACION.NICOLEÑA</p>
                <p class="texto1">CBU: </p>
                <p class="texto2">312731273012974012412904</p>
            </div>
        </div>
</div>
    <!-- header -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo-anarl.png" alt="logo" width="100" height="100" class="d-inline-block align-text-top">
                
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:#006b10; font-size: 19px;" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profesionales">Consultorio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/galeria">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" id="mostrarCarta">Donaciones</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- main -->

    <main>


    <section>
    <img src="/img/anarl-afuera-opaco1.jpg" class="img-fluid" alt="..." style="width: 100%;" >
    

    </section>

        <section id="textos">
            <div class="izquierda">
                <div data-aos="fade-right" data-aos-duration="1000">

                    <h2>Nuestra mision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ullam non blanditiis doloribus voluptates quos reprehenderit, voluptatibus quod nemo in deserunt natus accusantium error itaque possimus perspiciatis omnis, totam id?</p>
               
                </div>
                <div></div>
                
                <div data-aos="fade-right" data-aos-duration="1000">
                    <h2>Nuestro objetivo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis assumenda itaque, quaerat, laborum enim atque mollitia, error impedit fugit cupiditate natus molestiae. Nostrum, laboriosam quia modi consequatur iste consectetur dolorem.</p>
                </div>
                <div></div>
            </div>
           
            <div class="derecha">
                <div></div>
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident. Ut quos ab, amet ducimus nulla expedita quas doloribus placeat unde, aut corporis aliquid esse, nemo dolore cum. Quasi, excepturi!</p>
                </div>
                <div></div>
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita assumenda nihil aliquam et distinctio dolorum dicta quisquam ducimus obcaecati vero quasi autem similique, deserunt hic aliquid. Repudiandae expedita alias odit!</p>
                </div>
            </div>


        </section>




    </main>


    <!-- footer -->

   
    <div class="container-fluid">
        <div class="row p-5 bg-dark text-white">

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h1">Anarl</p>
                
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Contacto</p>
                <div class="text-secondary">
                <p>Llamanos al 33640000</p>
                <p>anarl@gmail.com</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Consultorio</p>
                <div class="text-secondary">
                <p>Turno</p>
                <p>Especialidades</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos</p>
            </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Redes sociales</p>
                <div class="text-secondary">
                <p><i class="fa-brands fa-instagram fa-xl"></i>  <a class="redess" href="https://www.instagram.com/anarlsannicolas_/">Instagram</a></p>
                <p><i class="fa-brands fa-facebook fa-xl"></i>  <a class="redess" href="https://web.facebook.com/profile.php?id=61551583583408">Facebook</a> </p>
                <p><i class="fa-brands fa-whatsapp fa-xl"></i>  Whatsapp </p>
            </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

        
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script> 
      <script src="/js/donaciones.js"></script>
      <script src="/js/descargar.js"></script>
</body>

</html>