<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profesionales.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesionales</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>

        <nav class="navbar">
            <div class="logo">
                <img src="/img/logo-texto.png" alt="logo">
            </div>
            <ul class="nav-links">
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/profesionales">CONSULTORIO</a></li>
                <li><a href="/galeria">GALERIA DE IMAGENES</a></li>
                <li><a href="#" id="mostrarCarta">DONACIONES</a></li>

            </ul>
        </nav>
    </header>

    <div class="profesional">
        <img src="imagen_profesional.jpg" alt="Foto del profesional">
        <h2>Nombre del Profesional</h2>
        <p>Especialidad: Especialidad del profesional</p>
        <p>Experiencia: X años</p>
        <p>Descripción: Breve descripción del profesional y sus logros.</p>
    </div>

    <div class="profesional">
        <img src="imagen_profesional.jpg" alt="Foto del profesional">
        <h2>Nombre del Profesional</h2>
        <p>Especialidad: Especialidad del profesional</p>
        <p>Experiencia: X años</p>
        <p>Descripción: Breve descripción del profesional y sus logros.</p>
    </div>

    <div class="profesional">
        <img src="imagen_profesional.jpg" alt="Foto del profesional">
        <h2>Nombre del Profesional</h2>
        <p>Especialidad: Especialidad del profesional</p>
        <p>Experiencia: X años</p>
        <p>Descripción: Breve descripción del profesional y sus logros.</p>
    </div>

    <div class="profesional">
        <img src="imagen_profesional.jpg" alt="Foto del profesional">
        <h2>Nombre del Profesional</h2>
        <p>Especialidad: Especialidad del profesional</p>
        <p>Experiencia: X años</p>
        <p>Descripción: Breve descripción del profesional y sus logros.</p>
    </div>

    <footer>
        <div class="footer">
            <div class="contenedor">
                <h2>Contacto</h2>
                <p>Llamanos al 33640000</p>
                <p>anarl@gmail.com</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor">
                <h2>Consultorio</h2>
                <p>Turno</p>
                <p>Especialidades</p>
                <p>Luneas a Viernes 8:00 a 18:00</p>
                <p>Olleros 2, San Nicolás de Los Arroyos, Provincia de Buenos Aires</p>
            </div>
            <div class="contenedor ultimo">
                <h2>Redes sociales</h2>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>lorem</p>

            </div>
        </div>
    </footer>
    <script src="/js/donaciones.js"></script>
</body>
</html>