

.templatemo_contacttitle {
    width: 100%;
    /* margin-bottom: 10px; */
    font-size: 32px;
    font-weight: bold;
    color:#006b10;
    text-align: center;
}

.templatemo_sub_contacttitle {
    width: 100%;
    font-size: 22px;
    color:#000000;
    text-align: center;
    margin-bottom: 50px;
}

.templatemo_contact {
    
     margin: 30px; 
    width: 100%;
     margin-left: 15%; 
}

.templatemo_contactform input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px; 
     margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.templatemo_contactform textarea {
    height: 100px;
}

.caja_form {
    margin-left: 100px;
  }

.templatemo_contactform .btn-primary {
    background: #006b10;
    border: none;
    border-radius: 0px;
    color: #fafafa;
    font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
    background: #a6d82c;
}

.borde{
    padding-right: 200px;
}

main{
    margin-top: 5em;
    margin-bottom: 5em;
}



  @media (max-width: 767px) {
    .caja_form {
      margin-left: 0px;
    }

    
  }