

.overlay {
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.carta-contenedor {
    margin-top: 308px;
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px  ;
}



.carta a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    margin: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.carta a:hover {
    background-color: #0056b3;
}
.logoanl{
    width: 20%;
  
}

.carta{
    padding: 15px;
}
.texto1{
    margin: 15px;  
    font-weight: bold;
    font-size: 28px;
}
.texto2{
    margin: 15px;
    font-size: 25px;
}

.qr{
    width: 150px;
}
