body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f7f5f5;

  }
  

  /* ---------------------------------------NAV-BAR ----------------------------------------------*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f5f5;
    color: #464343;
    padding: 20px 110px;
    box-shadow: 0px 0px 10px 0px rgb(29, 29, 29); 
    font-size: 18px;
    
  }
  
  .logo img {
    width: 250px; /* Ajusta el tamaño del logo según tu necesidad */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding-top: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #006b10;
  }



  /* -----------------------------------MAIN---------------------------------------------- */


  .slide {
    position: relative;
  
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 500px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;

}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #008e28;
}


.slide-text{
  color: #000000;
  font-size: 40px;
  position: absolute;
  top: 80%;
  left: 2%;
}    



.main{
  position: relative;
  height: 100%;
  width: 70%;
  background-color: #e9e1e1;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
  padding-bottom: 2em;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas automáticas y responsivas */
  gap: 20px; /* Espacio entre elementos */
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #f7f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.grid-item img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  
}

.separator {
  height: 2px;
  background-color: green;
  margin: 20px auto;
  width: 80%;
  margin: 3em 0 3em 0;
}

.historia {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

.historia p {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 10px;
}


/* -----------------------------footer----------------------------- */

.footer {
  position: relative;
  background-color: rgb(80, 80, 80);
  color:aliceblue;
  text-align:center;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 250px;
  font-size: large;
  
}

.contenedor{
  margin-left: 10px;
  width: 300px;
}


