body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f7f5f5;

  }
  

  /* ---------------------------------------NAV-BAR ----------------------------------------------*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f5f5;
    color: #464343;
    padding: 20px 110px;
    box-shadow: 0px 0px 10px 0px rgb(29, 29, 29); 
    font-size: 18px;
    
  }
  
  .logo img {
    width: 250px; /* Ajusta el tamaño del logo según tu necesidad */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding-top: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #006b10;
  }



  /* -----------------------------------MAIN---------------------------------------------- */


.carousel-item{
  height: 50%;
}


.main{
  position: relative;
  height: 100%;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  padding-bottom: 2em;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas automáticas y responsivas */
  gap: 20px; /* Espacio entre elementos */
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #f7f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.grid-item img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  
}

.separator {
  height: 2px;
  background-color: green;
  margin: 20px auto;
  width: 80%;
  margin: 3em 0 3em 0;
}

.historia {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
 
}

.historia p {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 20px;
}


/* -----------------------------footer----------------------------- */

.footer {
  position: relative;
  background-color: rgb(80, 80, 80);
  color:aliceblue;
  text-align:center;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 250px;
  font-size: large;
  
}

.contenedor{
  margin-left: 10px;
  width: 300px;
}


@media (max-width: 768px) {
  .carousel {
    height: 350px;
  }

  .carousel img {
    height: 350px;
  }
}