

@media screen and (min-width: 769px){

body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f7f5f5;

  }


/* ---------------------------------------NAV-BAR ----------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f5f5;
  color: #464343;
  padding: 20px 110px;
  font-size: 18px;
}

.logo img {
  width: 250px; /* Ajusta el tamaño del logo según tu necesidad */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding-top: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #006b10;
}



  /*--------------------------- main--------------- */

  #banner{
    color: white;
    font-size: 65px;
    text-align: center;
    background-image:url('/img/anarl-afuera-opaco.jpg');
    background-size: cover;
    padding: 5%;
    
  }

  #banner p{
    padding: 10px;
    margin: 0%;
  }
  #texto{
    margin: 50px 0 50px;
  }

  #textos{
    padding: 3em;
    height: 1000px;
    display: flex;
  }
  
  .izquierda, .derecha {
    width: 50%; /* Ambos divs ocuparán el 50% del ancho del contenedor */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    float: left; /* Hace que los elementos floten a la izquierda */
    color: #464343;
    font-size:larger;
}

.izquierda div, .derecha div {
  width: 100%;
  height: 25%; /* Cada sub-div ocupa el 25% de la altura del contenedor padre */
  box-sizing: border-box;
}

.izquierda h2, .derecha h2{
  margin-bottom: 1em;
  color:#006b10;
}
.footer {
  position: relative;
  background-color: rgb(80, 80, 80);
  color:aliceblue;
  text-align:center;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 250px;
  font-size: large;
  
}

.contenedor{
  margin-left: 10px;
  width: 300px;}  



}

@media screen and (max-width: 320px) {
  body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f7f5f5;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente y horizontalmente */
    background-color: #f7f5f5;
    color: #464343;
    padding: 10px; /* Ajusta el relleno según sea necesario */
    
    font-size: 12px;
  }

  .logo img {
    width: 100px; /* Reducido el tamaño del logo */
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
  }

  .nav-links li a:hover {
    color: #006b10;
  }

  #banner {
    color: white;
    font-size: 18px; /* Tamaño de fuente reducido */
    text-align: center;
    background-image: url('/img/anarl-afuera-opaco.jpg');
    background-size: cover;
    padding: 5%;
  }

  #banner p {
    padding: 10px;
    margin: 0;
  }

  #texto {
    margin: 10px 0;
  }

  #textos {
    padding: 1em;
    height: auto;
    display: block;
  }

  .izquierda, .derecha {
    width: 100%;
    box-sizing: border-box;
    float: none;
    text-align: center;
    padding: 10px;
  }

  .izquierda h2, .derecha h2 {
    margin-bottom: 0.5em;
    font-size: 14px; /* Tamaño de fuente ligeramente aumentado */
    color: #006b10;
  }

  .footer {
    position: relative;
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    font-size: medium;
  }
  
  .contenedor {
    margin: 10px;
    width: 100%;
  }
}







